/* header section */
/* Title of the Page */
.title{
    text-align: center;
    font-size: 350%;
    color: white;
}
/* Tag line for title */
.subtitle{
    text-align: center;
    color: white;
}

/* Header section */
#header-title {
    background-color: #39566B;
}

/* joke title text */
.joke-title {
    color: white;
    font-size: 250%;
    font-weight: bold; 
}
/* joke body text */
.joke-content {
    color: white;
}

/* Save Joke & Drink buttons */
#save-joke,
#save-drink {
    filter: drop-shadow(1px 1px 1px black);
    border: 1px solid rgb(131, 128, 128);
}

/* cocktails title text */
.cocktail-title {
    color: white;
    font-size: 80%;
    font-weight: bolder;
}

/* New Joke & New Drink buttons */
#new-joke, 
#new-drink {
    background-color: rgb(216, 215, 212);
    border: 1px solid black;
    filter: drop-shadow(2px 3px 2px black);
}

/* Joke and Cocktail containers */
#joke-box,
#cocktail-box {
    background-color: #6194B8;
    filter: drop-shadow(2px 3px 2px black);
    border: 1px solid black;
}
/* drink image sizing */
drinkImg {
    height: 75px;
    align-content: center;

}

/* All text on page */
.ct-content {
    color: white;
}

/* Cocktail recipe text */

/* THIS WILL BE FOR 'TRY THIS DRINK + NAME' TEXT WHEN PROPERLY LINKED WITH TEMPLATE LITERAL */
.ct-content h3 {
    text-align: center;
    font-size: 150%;
}
/* Type of drink, Instructions for drink text */
.ct-content h4 {
    text-align: center;
}

/* Drink measurements and ingredients text */
li {
    text-align: center;
}

/* Stored jokes & drink container */
#saved-jokes-drink-box {
    background-color: #83C7F7;
    border-radius: 10px;
    filter: drop-shadow(2px 3px 2px black);
    border: 1px solid black;

}

/* Stored jokes & drinks text text */
#saved-jokes-text,
#saved-drinks-text {
    padding: 20px;
}
